.btn {
    display: block;
    background-color: #37A9AB;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    width: 245px;
    height: 49px;
    box-sizing: border-box;
    padding: 9px 65px;
    border-radius: 5px;
    box-shadow: 0 4px 4px #3dcacc4b;
    outline: none;
    border: 1px solid transparent;
    margin: 28px auto;
    cursor: pointer;

    &:hover {
        background-color: #4ed0d2;
    }
}

.isBlack {
    background-color: #1E1C1C;
    box-shadow: 0 4px 4px rgba(33, 33, 33, 0.294);
}

.hasRedHover {
    &:hover {
        background-color: #ff6666;
    }
}

.isSmall {
    width: 160px;
    height: 42px;
    padding: 8px 18px;
}

.isGray {
    background-color: #252525;
    border: 1px solid #080808;
    box-shadow: 0 4px 4px rgba(33, 33, 33, 0.294);
    margin: 0;

    &:hover {
        background-color: #bb2e2e;
    }
}