<main>
    <app-page-title [isCentered]="true" [hasDetail]="true">Organize e planeje a sua leitura.</app-page-title>
    <app-paragraph [isCentered]="true">Com o <strong>MyBookPlanner</strong>, você pode organizar com facilidade quais os livros em que você está lendo no momento, bem como qual livro pretende ler e muito mais.</app-paragraph>
    <a routerLink="/login"><app-button [hasEvent]="false">COMEÇAR</app-button></a>
</main>

<section class="aboutUs">
    <app-subtitle [isCentered]="true">SOBRE NÓS</app-subtitle>
    <app-page-title [isCentered]="true" [hasDetail]="false">O que é o MyBookPlanner?</app-page-title>

    <div class="container" style="margin-top: 92px;">
        <div>
            <app-page-title [hasDetail]="true">Uma melhor eficácia para sua leitura.</app-page-title>
            <app-paragraph [isCentered]="false">
                    O MyBookPlanner poderá lhe ajudar a organizar a sua leitura. Nosso catálogo possuí diversos livros, e você poderá adicionar aqueles que estiver lendo em sua conta. 
                <br> <br>
                Cada livro poderá ter um desses status: Lendo, Desejo e Finalizado.
            </app-paragraph>
        </div>
        <div class="containerImg">
            <img src="../../assets/bookshelves.svg" alt="bookshelves ilustration">
        </div>
    </div>
</section>

<section class="aboutUs">
    <app-subtitle [isCentered]="true">CATÁLOGO</app-subtitle>
    <app-page-title [isCentered]="true" [hasDetail]="false">É AQUI ONDE VOCÊ FAZ AS COISAS.</app-page-title>

    <div class="container" style="margin-top: 92px;">
        <div>
            <app-page-title [hasDetail]="true">Planejamento facilitado.</app-page-title>
            <app-paragraph [isCentered]="false">
                Em nosso catálogo, temos os mais variados tipos de livros para que você possa se organizar com tranquilidade. 
                <br> <br>
                O livro que você está lendo não está lá? Sem problema, nos mande uma mensagem para o nosso suporte e iremos adiciona-lo o mais rápido possível.
            </app-paragraph>
        </div>
        <div class="containerImg">
            <img src="../../assets/bookSvg.svg" alt="book ilustration">
        </div>
    </div>
</section>


