<footer class="footer">
    <a routerLink="/"><h1 class="logo">MyBookPlanner</h1></a>
    <div class="itemFooter">
        <app-subtitle>CONTATO</app-subtitle>
        <ul>
            <li>contato@mybooklist.com</li>
            <li>suporte@mybooklist.com</li>
        </ul>
        <ul class="listaRedesSociais">
            <li>
                <div class="containerIconeRedeSocial">
                    <a href="https://facebook.com"  target="_blank"><img src="../../assets/icon-facebook.svg" alt="icone facebook"></a>
                </div>
            </li>
            <li>
                <div class="containerIconeRedeSocial">
                    <a href="https://twitter.com"  target="_blank"><img src="../../assets/icon-twitter.svg" alt="icone twitter"></a>
                </div>
            </li>
            <li>
                <div class="containerIconeRedeSocial">
                    <a href="https://instagram.com" target="_blank"><img src="../../assets/icon-instagram.svg" alt="icone instagram"></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="itemFooter navFooter">
        <app-subtitle>NAVEGAÇÃO</app-subtitle>
        <nav>
            <ul>
                <li><a routerLink="/catalogo">Catálogo</a></li>
                <li><a routerLink="/meusLivros">Meus Livros</a></li>
                <li><a routerLink="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</footer>