<table class="tableContainer">
    <tr class="tableRow">
        <th class="tableHead">RANK</th>
        <th class="tableHead">LIVRO</th>
        <th class="tableHead">NOTA</th>
        <th class="tableHead">SUA NOTA</th>
        <th class="tableHead">STATUS</th>
    </tr>
    <tr class="tableRow">
        <td class="tableData rank">1</td>
        <td class="tableData tableDataImage">
            <div class="containerImg">
                <img src="https://drive.google.com/uc?export=view&id=1EmW5VtsjDEf_vyGuGQo8SsUiCLsj83Sm"/>
            </div>
            <div class="containerBookInfo">
                <span class="livro">Crime e Castigo - Fyodor Dostoevsky</span>
                <span>1886</span>
            </div>
        </td>
        <td class="tableData nota">9.7</td>
        <td class="tableData nota">N/A</td>
        <td class="tableData edit"><button class="editBtn">EDIT</button></td>
    </tr>  
    <tr class="tableRow">
        <td class="tableData rank">1</td>
        <td class="tableData tableDataImage">
            <div class="containerImg">
                <img src="https://drive.google.com/uc?export=view&id=1EmW5VtsjDEf_vyGuGQo8SsUiCLsj83Sm"/>
            </div>
            <div class="containerBookInfo">
                <span class="livro">Crime e Castigo - Fyodor Dostoevsky</span>
                <span>1886</span>
            </div>
        </td>
        <td class="tableData nota">9.7</td>
        <td class="tableData nota">N/A</td>
        <td class="tableData edit"><button class="editBtn">EDIT</button></td>
    </tr>
    <tr class="tableRow">
        <td class="tableData rank">1</td>
        <td class="tableData tableDataImage">
            <div class="containerImg">
                <img src="https://drive.google.com/uc?export=view&id=1EmW5VtsjDEf_vyGuGQo8SsUiCLsj83Sm"/>
            </div>
            <div class="containerBookInfo">
                <span class="livro">Crime e Castigo - Fyodor Dostoevsky</span>
                <span>1886</span>
            </div>
        </td>
        <td class="tableData nota">9.7</td>
        <td class="tableData nota">N/A</td>
        <td class="tableData edit"><button class="editBtn">EDIT</button></td>
    </tr>
</table>