<table class="tableContainer">
    <tr class="tableRow">
        <th class="tableHead">RANK</th>
        <th class="tableHead">LIVRO</th>
        <th class="tableHead">NOTA</th>
        <th class="tableHead">SUA NOTA</th>
        <th class="tableHead">STATUS</th>
    </tr>
    <ng-container *ngIf="books && books.data.length">
        <tr class="tableRow" *ngFor="let book of books.data let i = index">
            <td class="tableData rank">{{i + 1}}</td>
            <td class="tableData tableDataImage">
                <div class="containerImg">
                    <img src="{{book.imageUrl}}"/>
                </div>
                <div class="containerBookInfo">
                    <span class="livro">{{book.title}} - {{book.author}}</span>
                    <span>{{book.releaseYear}}</span>
                </div>
            </td>
            <td class="tableData nota">{{book.score}}</td>
            <td class="tableData nota">N/A</td>
            <td class="tableData edit"><button class="editBtn">EDIT</button></td>
        </tr>  
    </ng-container>
</table>