<table class="tableContainer">
    <tr class="tableRow">
        <th class="tableHead">RANK</th>
        <th class="tableHead">LIVRO</th>
        <th class="tableHead">NOTA</th>
        <th class="tableHead" *ngIf="books === null && userBooks && userBooks.length">SUA NOTA</th>
        <th class="tableHead" *ngIf="isLoggedIn">STATUS</th>
    </tr>
    <ng-container *ngIf="userBooks === null && books && books.data.length"> 
        <tr class="tableRow" *ngFor="let book of books.data let i = index">
            <td class="tableData rank">{{(page * 10) + i + 1}}</td>
            <td class="tableData tableDataImage">
                <div class="containerImg">
                    <img src="{{book.imageUrl}}"/>
                </div>
                <div class="containerBookInfo">
                    <span class="livro">{{book.title}} - {{book.author}}</span>
                    <span>{{book.releaseYear}}</span>
                </div>
            </td>
            <td class="tableData nota">{{book.score.toFixed(1)}}</td>
            <td class="tableData edit" *ngIf="isLoggedIn"><app-button-edit (onClick)="openModal(book.id)">ADD</app-button-edit></td>
            <div *ngIf="modalIsActive" class="modal">
                <div class="modalContent">
                    <span class="btnFechar" (click)="closeModal()">X</span>
                    <app-page-title [isCentered]="true">ADICIONE O LIVRO EM SUA CONTA.</app-page-title>
                    
                    <form class="containerForm">
                        <div class="containerInputs">
                            <label for="userScore">Sua nota: </label>
                            <input type="number" min="0" max="10" id="userScore" name="userScore" [(ngModel)]="userScore">
            
                            <label for="readingStatus">Status de leitura: </label>
                            <select name="readingStatus" id="readingStatus" [(ngModel)]="readingStatus">
                                <option value="Selecione" disabled selected>Selecione</option>
                                <option value="Desejo">Desejo</option>
                                <option value="Lendo">Lendo</option>
                                <option value="Lido">Lido</option>
                            </select>
                            <app-button [isSmall]="true" (onClick)="addBook()">ADICIONAR</app-button>
                         </div>
                         <div class="containerLivroDetalhes">
                            <div class="containerImgInModal">
                                <img src="{{bookInModal?.imageUrl}}" alt="imagem do livro">
                            </div>
                            <div class="bookInfo">
                                <h3>{{bookInModal?.title}}</h3>
                                <cite>{{bookInModal?.author}}</cite>
                            </div>
                         </div>
                    </form>
                    <span *ngIf="sucessfulRequest" class="errorMsg successMsg">{{sucessfulRequest}}</span>
                    <span *ngIf="error" class="errorMsg">{{error}}</span>
                </div>
            </div>
        </tr>  
    </ng-container>

    <ng-container *ngIf="books === null && userBooks && userBooks.length">
        <tr class="tableRow" *ngFor="let userBook of userBooks let i = index">
            <td class="tableData rank">{{ i + 1}}</td>
            <td class="tableData tableDataImage">
                <div class="containerImg">
                    <img src="{{userBook.imageUrl}}"/>
                </div>
                <div class="containerBookInfo">
                    <span class="livro">{{userBook.title}} - {{userBook.author}}</span>
                    <span>{{userBook.releaseYear}}</span>
                </div>
            </td>
            <td class="tableData nota">{{userBook.score.toFixed(1)}}</td>
            <td class="tableData nota">{{userBook.userScore.toFixed(1)}}</td>
            <td class="tableData edit"><app-button-edit (onClick)="openModal(userBook.idBook)">EDIT</app-button-edit></td>
            <div *ngIf="modalIsActive" class="modal">
                <div class="modalContent">
                    <span class="btnFechar" (click)="closeModal()">X</span>
                    <app-page-title [isCentered]="true">ATUALIZE O SEU LIVRO.</app-page-title>
                    
                    <form class="containerForm">
                        <div class="containerInputs">
                            <label for="userScore">Sua nota: </label>
                            <input type="number" min="0" max="10" id="userScore" name="userScore" [(ngModel)]="userScore">
            
                            <label for="readingStatus">Status de leitura: </label>
                            <select name="readingStatus" id="readingStatus" [(ngModel)]="readingStatus">
                                <option value="Selecione" disabled selected>Selecione</option>
                                <option value="Desejo">Desejo</option>
                                <option value="Lendo">Lendo</option>
                                <option value="Lido">Lido</option>
                            </select>
                            <div class="containerBtns">
                                <app-button [isSmall]="true" (onClick)="updateBook()">ATUALIZAR</app-button>
                                <app-button [isSmall]="true" [isGray]="true" (onClick)="deleteBook(userBook.idBook)">DELETAR</app-button>
                            </div>
                         </div>
                         <div class="containerLivroDetalhes">
                            <div class="containerImgInModal">
                                <img src="{{bookInModal?.imageUrl}}" alt="imagem do livro">
                            </div>
                            <div class="bookInfo">
                                <h3>{{bookInModal?.title}}</h3>
                                <cite>{{bookInModal?.author}}</cite>
                            </div>
                         </div>
                    </form>
                    <span *ngIf="sucessfulRequest" class="errorMsg successMsg">{{sucessfulRequest}}</span>
                    <span *ngIf="error" class="errorMsg">{{error}}</span>
                </div>
            </div>
        </tr>  
    </ng-container>
</table>