.tableContainer {
    max-width: 1200px;
    border: 1px solid #191919;
    border-radius: 4px;
    text-align: center;
    margin-top: 68px;
}

.tableHead {
    background-color: #1D1B1B;
    border-bottom: 1px solid #191919;
    height: 64px;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 1.7rem;
}

.tableRow, .tableData {
    max-height: 114px;
    padding: 6px;
    font-weight: 600;
    border-bottom: 1px solid #191919;
    color: #8F8F8F
}

.tableRow:nth-child(even) {
    background-color: #212020;
}
  
.tableRow:nth-child(even) {
    background-color: #1E1C1C;
}

.tableRow td {
    border-right: 1px solid #191919;
}

.tableDataImage {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 0 28px;
   
    .containerImg {
        max-width: 73.81px;
    }

    .containerBookInfo {
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
       

        .livro {
            padding-right: 36px;
            padding-top: 16px;
            margin-bottom: 10px;
        }
    }
}

.nota, .rank {
    font-size: 3.25rem;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, .20);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;

    .modalContent {
        padding: 42px 32px;
        width: 800px;
        height: 520px;
        background-color: #1D1B1B;
        border-radius: 5px;
        box-shadow: 0 6px 6px rgba(0,0,0, .20);
        border: 1px solid #191919
    }
}

.containerForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 92px;
    gap: 128px;
    

    .containerInputs, .containerBtns  {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .containerBtns {
        gap: 0;
    }

    label, input {
        display: block;
    }

    label {
        color: #8F8F8F;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 12px;
    }
    
    input, select {
        height: 32px;
        font-size: 1.1rem;
        padding-left: 8px;
        border-radius: 3px;
        background-color: #eeeeee;
        border: none;
    }

    input {
        width: 200px;
        margin-bottom: 28px;
    }

    select {
        width: 210px;
        margin-bottom: 6px;
        cursor: pointer;
    }

}


.modalContent {
    position: relative;

    .errorMsg {
        display: block;
        text-align: center;
        width: max-content;
        align-self: center;
        margin: 28px auto;
        color: #ff6666;
        font-weight: 600;
        font-size: 1.4rem;
    }

    .successMsg {
        color: #66ff69;
    }
    
    .containerImgInModal {
        max-width: 150px;
    
        img {
            border-radius: 5px;
            box-shadow: 0 6px 6px rgba(0,0,0, .20);
        }
    }
    
    .containerLivroDetalhes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .bookInfo {
            margin-top: 18px;
        }
    }
    
    .btnFechar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        padding: 8px;
        border-radius: 50%;
        text-align: center;
        font-size: 1.5rem;
        background-color: #191919;
        border: 1px solid #8F8F8F;
        color: #ffffff;
        position: absolute;
        top: -15px;
        right: -15px;
        cursor: pointer;

        &:hover {
            background-color: #ff6666;
            border: 1px solid #600d0d;
        }
    }
}

